@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Fredoka:wght@700&family=Indie+Flower&family=Maven+Pro:wght@900&family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: black;
    overflow-x: hidden;
}